/* EarthMap.css */

/* Style for the map container */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Marker styles can also be added here if needed */
  /* Example for circle markers */
  .leaflet-circle {
    border-radius: 50%;
    stroke: #000; /* Black border */
    stroke-width: 1px;
  }
  
.custom-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffffff;
  }

  .button-container-home {
    position: absolute;
    margin: 0;
    top: 2%;
    left: 90%;
    z-index: 1;
  
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Use the closest font to the original */
    /* font-size: 1vw; */
    cursor: pointer;
    color: #000000; /* White text */
    transition: color 0.3s ease; /* Smooth text color transition */
    user-select: none;
  }
  
  /* Circle */
  .circle-home {
    margin: 0;
    width: 40px;
    height: 40px;
    left: -50px;
    top: 50%;
    transform: translateX(+83%);
    border: 1px solid rgba(176, 176, 176, 0.0); /* Light circular border */
    border-radius: 50%;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: left 0.6s ease, border 0.6s ease, transform 0.6s ease; 
    user-select: none; 
  }
  
  /* Arrow */
  .arrow-home {
    font-size: 32px;
    transform: translateY(-17%);
    color: rgba(255, 255, 255, 0.0); /* Initially dim arrow */
    transition: color 0.6s ease;
    user-select: none; 
  }
  
  /* Button Text */
  #button-text-home {
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.6); /* Text is dim initially */
    transition: color 0.6s ease;
    user-select: none; 
  }
  
  /* Hover State */
  .button-container-home:hover .circle-home {
    opacity: 100%;
    border: 2px solid rgb(0, 0, 0); /* Full white border on hover */
    transform: scale(1.1); /* Slightly enlarge the circle */
    user-select: none; 
  }
  
  .button-container-home:hover .arrow-home {
    color: rgb(0, 0, 0); /* Arrow becomes fully white */
    user-select: none;
  
  }
  
  .button-container-home:hover .button-text-home {
    color: rgb(0, 0, 0); /* Text becomes fully white */
    user-select: none; 
  }
  