@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    overflow: hidden;
}

#heading {
    position: absolute;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    margin: 0;
    top: 2%;
    left: 1%;
    z-index: 1;
    color: rgba(255, 255, 255, 0.722);    
    font-size: 19px; /* You can make the heading more complex by adding styles here */
    user-select: none;
}

@media screen and (max-width: 550px) {
    #heading {
        width: 50px;
    }
  }

.button-container-home {
    position: absolute;
    margin: 0;
    top: 2%;
    right: 1%;
    z-index: 1;

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Use the closest font to the original */
    /* font-size: 1vw; */
    cursor: pointer;
    color: #FFFFFF; /* White text */
    transition: color 0.3s ease; /* Smooth text color transition */
    user-select: none;
}

/* Circle */
.circle-home {
    margin: 0;
    width: 40px;
    height: 40px;
    left: -50px;
    top: 50%;
    transform: translateX(+83%);
    border: 1px solid rgba(176, 176, 176, 0.0); /* Light circular border */
    border-radius: 50%;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: left 0.6s ease, border 0.6s ease, transform 0.6s ease; 
    user-select: none; 
}

/* Arrow */
.arrow-home {
    font-size: 32px;
    transform: translateY(-17%);
    color: rgba(255, 255, 255, 0.0); /* Initially dim arrow */
    transition: color 0.6s ease;
    user-select: none; 
}

/* Button Text */
.button-text-home {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6); /* Text is dim initially */
    transition: color 0.6s ease;
    user-select: none; 
}

/* Hover State */
.button-container-home:hover .circle-home {
    opacity: 100%;
    border: 2px solid rgba(255, 255, 255, 1); /* Full white border on hover */
    transform: scale(1.1); /* Slightly enlarge the circle */
    user-select: none; 
}

.button-container-home:hover .arrow-home {
    color: rgba(255, 255, 255, 1); /* Arrow becomes fully white */
    user-select: none;
  
}

.button-container-home:hover .button-text-home {
    color: rgba(255, 255, 255, 1); /* Text becomes fully white */
    user-select: none; 
}


#back-to-museum-button {
    background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
  margin: 0;
  top: 70%;
  left: 15vw;
  z-index: 1;
  
  /* width: 220px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif; /* Use the closest font to the original */
  font-size: 1rem;
  cursor: pointer;
  color: #FFFFFF; /* White text */
  transition: color 0.3s ease; /* Smooth text color transition */
  user-select: none;
}

/* Circle */
#circle-museum-painting {
    margin: 0;
    width: 40px;
    height: 40px;
    left: -50px;
    top: 50%;
    transform: translateX(+83%);
    border: 1px solid rgba(176, 176, 176, 0.0); /* Light circular border */
    border-radius: 50%;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: left 0.6s ease, border 0.6s ease, transform 0.6s ease; 
    user-select: none; 
}

/* Arrow */
#arrow-museum-painting {
    font-size: 32px;
    transform: translateY(-17%);
    color: rgba(255, 255, 255, 0.0); /* Initially dim arrow */
    transition: color 0.6s ease;
    user-select: none; 
}

/* Button Text */
#button-text-museum-painting {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6); /* Text is dim initially */
    transition: color 0.6s ease;
    user-select: none; 
}

/* Hover State */
.button-container-museum-painting:hover #back-to-museum-button {
    opacity: 100%;
    border: 2px solid rgba(255, 255, 255, 1); /* Full white border on hover */
    transform: scale(1.1); /* Slightly enlarge the circle */
    user-select: none; 
}

.button-container-museum-painting:hover #arrow-museum-painting {
    color: rgba(255, 255, 255, 1); /* Arrow becomes fully white */
    user-select: none;
  
}

.button-container-museum-painting:hover #button-text-museum-painting {
    color: rgba(255, 255, 255, 1); /* Text becomes fully white */
    user-select: none; 
}




.divDiveBtn {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
}

.dive-in-button {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  border-radius: 50%; /* Creates a circular shape */
  background: radial-gradient(circle at 50% 50%, #ffffff, #333333); 
  color: #202020; /* Text color */
  font-size: 20px; /* Text size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



  
.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* You can add more styles here to make things more complex */
}


/*Narrator*/
#narrator-div-id {
    background-color: rgba(15, 25, 32, 0.507);
    font-size: 30px;
    color: #e7edf0;
    opacity: 0.8;
    border-radius: 10px;
    position: absolute;
    margin: 0;
    padding: 1%;
    width: 80%;
    height: 15%;
    top: 80%;
    left: 10%;
    z-index: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
}

.hidden {
    opacity: 0; /* Fading effect */
    visibility: hidden; /* Hide element after fading */
    display: none !important;
}

#narrator-header-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#narrator-name-id {
    font-family: "Comfortaa", sans-serif;
    opacity: 1;
    margin: 0;
    height: auto;
}

#narrator-close-button {
    background-color: rgba(15, 25, 32, 0.507);
    color: #e7edf0;
    font-size: large;
    border: 0;
    margin-left: auto;
    font-family: "Comfortaa", sans-serif;
}

#narrator-text-id {
    font-family: "Comfortaa", sans-serif;
    opacity: 1;

    text-align: left;
    width: 98%;
    height: 80%;
    margin: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


/* Loading */
.progress-bar-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #21201f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

/* .progress-circle-test {
    transform: rotate(-90deg);
} */

/* #progress-text-test {
    font-family: "Montserrat";
    font-size:"100px";
    font-weight:"bold";

    transform:rotate(90deg) translate(0px, -187px)
} */

/* #progress-circle-incomplete {
    transition: stroke-dashoffset 0.5s ease-in-out;
} */

label {
    color: white;
    font-size: 2rem;
}

.arrow {
  position: fixed;
  top: min(50%, 50vh);
  font-size: 2em;
  background: none;
  border: none;
  color: rgba(255, 255, 255);     
  cursor: pointer;
  padding: 0 20px;
  transform: translateY(-50%);
  opacity: 0.6;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

#previous{
  font-size: 0.7em;
}

#next{
  font-size: 0.7em;
}

@media (max-width: 1024px) {
  .arrow {
    padding: 0 8px;
  }

  .right-arrow {
    padding-left: 0;
  }

  .arrow {
    font-size: 8vw;
  }

  .left-arrow {
    left: 5px;
  }

  .right-arrow {
    right: 5px;
  }
}
