@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#slides-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 5vw;
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#go-to-museum {
    transform-origin: top left;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; 
    cursor: pointer;
    color: #FFFFFF; 
    transition: color 0.3s ease; 
    user-select: 'none';
}

/* Circle */
#circle-go-to-museum-left {
    width: 40px;
    height: 40px;
    left: -50px;
    top: 60%;
    transform: translateX(+83%);
    border: 1px solid rgba(176, 176, 176, 0.6); 
    border-radius: 50%;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: left 0.6s ease, border 0.6s ease, transform 0.6s ease; 
}

#circle-go-to-museum-right {
    width: 40px;
    height: 40px;
    left: -50px;
    top: 60%;
    transform: translateX(-83%);
    border: 1px solid rgba(176, 176, 176, 0.6); 
    border-radius: 50%;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: left 0.6s ease, border 0.6s ease, transform 0.6s ease; 
}

/* Arrow */
#arrow-go-to-museum-left {
    opacity: 0;
    font-size: 24px;
    transform: translateY(-16%);
    color: rgba(255, 255, 255, 0.6); 
    transition: color 0.6s ease;
    position: absolute;
    user-select: none; 
}

#arrow-go-to-museum-right {
    opacity: 0;
    font-size: 24px;
    transform: translateY(-16%);
    color: rgba(255, 255, 255, 0.6); 
    transition: color 0.6s ease;
    position: absolute;
    user-select: none; 
}

/* Button Text */
#button-text-go-to-museum {
    font-size: 16px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6); 
    transition: color 0.6s ease;
}

/* Hover State */
.button-container:hover #circle-go-to-museum-left {
    opacity: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    transform: scale(1.1); 
}

.button-container:hover #circle-go-to-museum-right {
    opacity: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    transform: scale(1.1); 
}

.button-container:hover #arrow-go-to-museum-left {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.button-container:hover #arrow-go-to-museum-right {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.button-container:hover #button-text-go-to-museum {
    color: rgba(255, 255, 255, 1); 
}
